{% extends "base.html" %}
{% set active_switch_student = "active" %}
{% block title %}{% endblock %}
{% block content %}
<div class="card-group padding-cards">
  {% for student in student_list: %}
  <div class="card-group padding-cards">
    <div class="card-fluid text-dark bg-light mb-3" style="width: 20rem;">
      <div class="card-body">
        <h2 class="card-title">{{ student["Name"] }}</h2>
        <p class="card-text">{{ student["USN"] }}</p>
      </div>
      <div class="card-body">
        <a class="btn btn-warning btn-sm" href="./update_student/{{student.USN}}"><i class="fa fa-pencil" style="font-size:14px"></i></a>
        <a class="btn btn-danger btn-sm" href="./delete_student/{{student.USN}}"><i class="fa fa-trash" style="font-size:14px"></i></a>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{student.USN}}">More Details</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% for student in student_list: %}
<!-- Modal -->
<div class="modal fade" id="myModal{{ student.USN }}" role="dialog">
   <div class="modal-dialog modal-lg">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title">RNS Institute Of Technology</h1>
       </div>
       <div class="modal-body">
         <p>Name{{ student.Name }}</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>

   </div>
 </div>
{% endfor %}
{% endblock %}
