{% extends "base.html" %}
{% set active_switch_student = "active" %}
{% block title %}Student Details{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">USN</th>
      <th scope="col">Name</th>
      <th scope="col">Semester</th>
      <th scope="col">Section</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Mentor</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  {% for student in student_list: %}
  <tr>
    <td>{{ student["USN"] }}</td>
    <td>{{ student["Name"] }}</td>
    <td>{{ student["Semester"] }}</td>
    <td>{{ student["Section"] }}</td>
    <td>{{ student["dob"]}}</td>
    <td>{{ student["Mentor"] }}</td>
    <td>
      <a class="btn btn-warning btn-sm" href="./update_student/{{student.USN}}"><i class="fa fa-pencil"></i></a>
      <a class="btn btn-danger btn-sm" href="./delete_student/{{student.USN}}"><i class="fa fa-trash"></i></a>
    </td>

  </tr>
  {% endfor %}
</table>
<a class="btn btn-primary" href="./create_student"><i class="fa fa-plus"></i></a>
{% endblock %}
