{% extends "base.html" %}
{% set active_switch_teacher = "active" %}

{% block title %}Teacher Details{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Teacher ID</th>
      <th scope="col">Name</th>
      <th scope="col">Class ID</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  {% for teacher in teacher_list: %}
  <tr>
    <td>{{ teacher["Teacher_ID"] }}</td>
    <td>{{ teacher["Name"] }}</td>
    <td>{{ teacher["Class_ID"] }}</td>
    <td>{{ teacher["Sub"] }}</td>
    <td>
      <a class="btn btn-warning btn-sm" href="./update_teacher/{{teacher.Teacher_ID}}"><i class="fa fa-pencil"></i></a>
      <a class="btn btn-danger btn-sm" href="./delete_teacher/{{teacher.Teacher_ID}}"><i class="fa fa-trash"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>
<a class="btn btn-primary" href="./create_teacher"><i class="fa fa-plus"></i></a>
{% endblock %}
