{% extends "base.html" %}
{% block title %}
	Dashboard
{% endblock title %}
{% block content %}
	<div class="jumbotron">
		<h1>5th Semester DBMS Project</h1>
		<h2>Student Information System</h2>
		<h3>Created By:</h3>
		<button class="btn btn-primary btn-outline fa fa-github" onclick="window.location.href='https://github.com/feirydraco'" aria-hidden="true" style="font-size:32px;">Yash Vora</button>
		<button class="btn btn-primary btn-outline fa fa-github" onclick="window.location.href='https://github.com/VivekKumarSingh07'" aria-hidden="true" style="font-size:32px;">Vivek Kumar Singh</button>
	</div>	
	{% endblock content%}