{% extends "base.html" %}

{% block title %}Test Performance{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">USN</th>
			<th scope="col">Test 1 Score</th>
			<th scope="col">Test 2 Score</th>
			<th scope="col">Test 3 Score</th>
			<th scope="col">Cumulative Test Score</th>
		</tr>
	</thead>
	{% for test in test_list: %}
	<tr>
		<td>{{ test["USN"] }}</td>
		<td>{{ test["Test1"] }}</td>
		<td>{{ test["Test2"] }}</td>
		<td>{{ test["Test3"] }}</td>
		<td>{{ student["Test_Cumalative"]}}</td>
		<td>
			<a class="btn btn-warning btn-sm" href="./update/{{tests.USN}}"><i class="fa fa-pencil"></i></a>
			<a class="btn btn-danger btn-sm" href="./delete/{{tests.USN}}"><i class="fa fa-trash"></i></a>
		</td>

	</tr>
	{% endfor %}
</table>
<a class="btn btn-primary" href="./create"><i class="fa fa-plus"></i></a>
{% endblock %}
