{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="row">
  <div class="container text-center">
    <div class="panel-body">
      <h1 class="mb-1">Student Information System</h1>
      <h3 class="mb-5">
        <em>5th Semester Database Management Systems Project</em>
      </h3>
    </div>
  </div>
  <div class="row" style="padding-top:32px;">
    <div class="col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-outline btn-block btn-xl" href="https://github.com/VivekKumarSingh07" style="font-size:48px;"><i class="fa fa-github">Vivek Kumar Singh</i></a>
        </div>
        <div class="panel-footer text-center">
          1RN16CS121
        </div>
      </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a class="btn btn-outline btn-block btn-xl" href="https://github.com/feirydraco" style="font-size:48px;"><i class="fa fa-github">Yash Vora</i>
          </a>
        </div>
        <div class="panel-footer text-center">
          1RN16CS123
        </div>
      </div>
    </div>
  </div>

  {% endblock content%}
