{% extends "base.html" %}

{% block title %}This is a Sample HomePage.{% endblock %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur venenatis ligula a feugiat.
Pellentesque ut placerat sapien. In quis elit quis ante malesuada pretium ut eget ipsum.
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti.
Duis sit amet interdum leo. Vestibulum sed pharetra ex. Nullam vel neque est. Curabitur ac ligula enim. Aenean libero turpis, consequat et dolor vitae, gravida tincidunt libero. Sed semper nunc id sem laoreet, quis sagittis orci malesuada. Nulla dolor leo, efficitur ut cursus sit amet, consectetur sit amet tellus. Sed aliquet ac justo et viverra.
{% endblock %}
